<div class="jumbotron" style="">
    <section id="sortable">
        <div id="sortable1" class="group">
            <div class="widget sortable" ng-repeat="widget in widgets1">
                <h3 class="handle">{{widget.title}}</h3>
                <div ng-if="widget.type == 'text'">
                    {{widget.content}}
                </div>
                <div ng-if="widget.type == 'image'">
                    <img ng-src="{{widget.content}}">
                </div>
            </div>
        </div>
        <div id="sortable2" class="group">
            <div class="widget sortable" ng-repeat="widget in widgets2">
                <h3 class="handle">{{widget.title}}</h3>
                <div ng-if="widget.type == 'text'">
                    {{widget.content}}
                </div>
                <div ng-if="widget.type == 'image'">
                    <img ng-src="{{widget.content}}">
                </div>
            </div>
        </div>
        <div id="sortable3" class="group">
            <div class="widget sortable" ng-repeat="widget in widgets3">
                <h3 class="handle">{{widget.title}}</h3>
                <div ng-if="widget.type == 'text'">
                    {{widget.content}}
                </div>
                <div ng-if="widget.type == 'image'">
                    <img ng-src="{{widget.content}}">
                </div>
            </div>
        </div>
    </section>
</div>

<div class="footer">
    <p>Cesar William Alvarenga</p>
</div>

<script type="text/javascript">
  $('.group').sortable({ handle: ".handle", placeholder: "widget-placeholder", forcePlaceholderSize: true, connectWith: '.group'});
  $('.group').disableSelection();
</script>

